<%- include ../partials/head.ejs %>
<main>
<h3>Hallo <%= user.voornaam %>, Dit is jouw chat met <%= match.voornaam %></h3>
<div class="container">
  <div class="row" style="max-width:80%;">
    <div class="col-md-4 col-lg-4 col-sm-5 ">
      <div class="card hovercard">
        <div class="cardheader">
        </div>
        <div class="avatar">
          <img alt="" src="<%-match.profielfoto%>">
        </div>
        <div class="info">
          <div class="title">
            <a href="chat?id=<%-match.ID%>" href=""><%= match.voornaam %> <%= match.achternaam %></a>
          </div>
          <div class="desc"><%= match.favartist1 %>, <%= match.favartist2 %>, <%= match.favartist3 %></div>
          <div class="desc"><% let birthday = +new Date(match.geboortedatum); birthday = ~~((Date.now() - birthday) / (31557600000));%><%= birthday %> jaar oud</div>
          <div class="desc"><%= match.geslacht %></div>
        </div>
        </div>
    </div>
  </div>
</div>
<div>
<% for(var i = 0; i < chats.length; ++i) {%>
  <%=chats[i].bericht%><br>
<%}%>
</div>

<%- include ../partials/foot.ejs %>
